section.about.block#about.custom-bg-light
    .container 
        h2.about__title.text-center.text-uppercase O nas
        .row.gy-4.align-items-center.justify-content-center 
            .col-12.col-md-10.col-lg-8.col-xl-6.text-center
                picture.about__image 
                    source(srcset="img/about.webp", type="image/webp")
                    img.custom-img(src="img/about.jpg", alt="O Gmax")
            .col-12.col-md-10.col-lg-8.col-xl-6
                .about__info.text-center Klienci nam ufają, ponieważ do każdego zlecenia podchodzimy z pełnym profesjonalizmem. Specjalizujemy się w praniu tapicerki meblowej, siedzeń samochodowych, zasłon, rolet oraz myciu okien. Na co dzień usuwamy różnego rodzaju zabrudzenia: plamy po jedzeniu i napojach, sierść zwierząt, nieprzyjemne zapachy, ślady pleśni oraz głęboko osadzony kurz. Dzięki doświadczeniu, odpowiedniemu sprzętowi i skutecznym środkom czystości skutecznie eliminujemy wszystkie zanieczyszczenia, przywracając świeżość i czystość, za które klienci chętnie do nas wracają.
            .col-12.text-center
                .row.justify-content-center 
                    .col-auto
                        a.btn.btn-primary.btn-normal(href="#cta") Umów się
                    .col-auto
                        a.btn.btn-secondary.btn-normal(href="tel:+48452230843") 
                            svg.icon.shake(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                                path(fill-rule="evenodd", d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z")
                            | Zadzwoń