section.faq.block#faq
    .container
        h2.faq__title.text-uppercase Najczęstsze pytania
        .faq__list
            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Jak często należy czyścić meble tapicerowane?
                .faq__item-content
                    div Zalecamy profesjonalne czyszczenie tapicerki meblowej co 6–12 miesięcy. W domach z dziećmi, zwierzętami lub alergikami warto robić to częściej, aby utrzymać higienę i świeżość mebli.

            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Czy wszystkie plamy da się usunąć?
                .faq__item-content
                    div Większość plam można skutecznie usunąć, ale wszystko zależy od rodzaju zabrudzenia, czasu jego obecności oraz wcześniejszych prób czyszczenia. Niektóre trwałe plamy mogą pozostawić delikatne przebarwienia.

            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Jak długo schnie tapicerka po czyszczeniu?
                .faq__item-content
                    div Czas schnięcia zależy od materiału i warunków w pomieszczeniu. Zwykle wynosi od 5 do 12 godzin. W ciepłym i przewiewnym miejscu proces przebiega szybciej.

            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Czy środki czyszczące są bezpieczne dla dzieci i zwierząt?
                .faq__item-content
                    div Tak. Korzystamy z certyfikowanych środków, które są bezpieczne i niealergizujące. Po czyszczeniu zalecamy, aby nie używać mebli do momentu ich całkowitego wyschnięcia.

            .faq__item.custom-bg-light
                .faq__item-header
                    h6.faq__item-title Jak przygotować meble do czyszczenia?
                .faq__item-content
                    div Wystarczy usunąć z mebli poduszki, koce i inne przedmioty. Nie musisz ich przesuwać ani rozkładać — wszystkim zajmiemy się na miejscu.
