section.how.block.custom-bg-light 
    .container 
        h2.how__title.text-center Jak pracujemy? 
        h3.h6.text-light.how__subtitle.text-center Zobacz, jak wygląda cały proces realizacji usługi.
        ol.row.how__row 
            li.bullet.col-12.col-md-6.col-xl-3 
                h4.h6.bullet__title Zgłoszenie usługi
                p.bullet__description Skontaktuj się z nami telefonicznie lub przez formularz. Ustalimy dogodny termin.
            li.bullet.col-12.col-md-6.col-xl-3 
                h4.h6.bullet__title Ocena zakresu prac
                p.bullet__description Po przyjeździe ocenimy stopień zabrudzenia i określimy czas oraz koszt czyszczenia.
            li.bullet.col-12.col-md-6.col-xl-3 
                h4.h6.bullet__title Wykonanie usługi
                p.bullet__description Przystępujemy do czyszczenia w ustalonym czasie – dokładnie, bezpiecznie i profesjonalnie.
            li.bullet.col-12.col-md-6.col-xl-3 
                h4.h6.bullet__title Gotowe!
                p.bullet__description Odbierasz świeżo wyczyszczone meble, wnętrze auta lub tekstylia – czyste i pachnące.
        .how__btn.text-center 
            .row.justify-content-center 
                .col-auto
                    a.btn.btn-primary.btn-normal(href="#cta") Umów się
                .col-auto
                    a.btn.btn-secondary.btn-normal(href="tel:+48452230843") 
                        svg.icon.shake(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                            path(fill-rule="evenodd", d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z")
                        | Zadzwoń
