section#price.price.block.bg-white
    svg(style="display: none;")
        symbol#icon-cash(viewBox="0 0 16 16" fill="currentColor")
            path(d="M12.136.326A1.5 1.5 0 0 1 14 1.78V3h.5A1.5 1.5 0 0 1 16 4.5v9a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 13.5v-9a1.5 1.5 0 0 1 1.432-1.499zM5.562 3H13V1.78a.5.5 0 0 0-.621-.484zM1.5 4a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h13a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5z")
    .container
        h2.price__title.text-uppercase Ceny
        .price-table.custom-bg-light
            .row.price-table__row
                .col-12 
                    h3.h5.price-table__title Czyszczenie mebli tapicerowanych oraz skórzanych
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Narożnik typu litery L bez poduch
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 220zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Narożnik typu litery U bez poduch
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 350zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Kanapa, wersalka
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 150zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Fotel rozkladany / Uszak
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 90zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Krzesła
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 20zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Poducha meblowa
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 10zł do 30zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Pranie foteli biurowych
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | 15-30 zł/szt
            .row.price-table__row
                .col-12 
                    h3.h5.price-table__title Materace
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Materac jednoosobowy z jednej strony / z obu stron
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 100zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Materac dwuosobowy z jednej strony / z obu stron
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 150zł
            .row.price-table__row
                .col-12 
                    h3.h5.price-table__title Pranie wykładzin
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Dywan/wykładzina
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 22zł/m2
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Pranie wykładzin do 30m2
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | 15-18zł/m2
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Pranie wykładzin od 30m2 do 50m2
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | 14-16 zł/m2
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Pranie wykładzin od 50m2 do 100m2
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | 10-13 zł/m2
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Pranie wykładzin powyżej 100m2
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | wycena indywidualna
            .row.price-table__row
                .col-12 
                    h3.h5.price-table__title Czyszczenie wnętrza samochodu
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Pranie tapicerki samochodowej
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 220zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Sprzątanie wnętrza auta + pranie tapicerki samochodowej
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 350zł
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 Sprzątanie wnętrza auta + czyszczenie skóry samochodowej
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 400zł
            //- .row.price-table__row
            //-     .col-12 
            //-         h3.h5.price-table__title Sprzątania
            //-     .col-6.col-md-4.col-xxl-3.price-table__col
            //-         .price-item 
            //-             h4.h6 Do 30m2
            //-             p 
            //-                 svg.icon(width="16" height="16")
            //-                     use(xlink:href="#icon-cash")
            //-                 | od 260zl (klasyczne) od 570zl (generalne)
            //-     .col-6.col-md-4.col-xxl-3.price-table__col
            //-         .price-item 
            //-             h4.h6 Do 50m2
            //-             p 
            //-                 svg.icon(width="16" height="16")
            //-                     use(xlink:href="#icon-cash")
            //-                 | od 300zl (klasyczne) od 660zl (generalne)
            //-     .col-6.col-md-4.col-xxl-3.price-table__col
            //-         .price-item 
            //-             h4.h6 Do 70m2
            //-             p 
            //-                 svg.icon(width="16" height="16")
            //-                     use(xlink:href="#icon-cash")
            //-                 | od 360zl (klasyczne) od 750zl (generalne)
            //-     .col-6.col-md-4.col-xxl-3.price-table__col
            //-         .price-item 
            //-             h4.h6 Do 90m2
            //-             p 
            //-                 svg.icon(width="16" height="16")
            //-                     use(xlink:href="#icon-cash")
            //-                 | od 840zl (generalne)
            .row.price-table__row
                .col-12 
                    h3.h5.price-table__title Mycie okien
                .col-6.col-md-4.col-xxl-3.price-table__col
                    .price-item 
                        h4.h6 jednoskrzydłowe / dwuskrzydłowe
                        p 
                            svg.icon(width="16" height="16")
                                use(xlink:href="#icon-cash")
                            | od 25zł/35zł

        .price__btn
            .row.justify-content-center 
                .col-auto
                    a.btn.btn-primary.btn-normal(href="#cta") Umów się
                .col-auto
                    a.btn.btn-secondary.btn-normal(href="tel:+48452230843") 
                        svg.icon.shake(xmlns="http://www.w3.org/2000/svg", width="16", height="16", fill="currentColor", viewBox="0 0 16 16")
                            path(fill-rule="evenodd", d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.68.68 0 0 0 .178.643l2.457 2.457a.68.68 0 0 0 .644.178l2.189-.547a1.75 1.75 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.6 18.6 0 0 1-7.01-4.42 18.6 18.6 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877z")
                        | Zadzwoń